@tailwind base;
@tailwind components;
@tailwind utilities;

/* Asegura que toda la app use el 100% del ancho y alto */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Restablece estilos por defecto */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: transparent; /* dejamos que Tailwind maneje el fondo */
  color: #213547;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links y botones base (opcionales) */
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
